<div *init="{ flow: flow$ | async,
 flowName: flowName$ | async,
 steps: steps$ | async,
 selectedDropdownValue: selectedCurrency$ | async
  } as params"
     class="flow">
  <div class="flow_back-btn"
       [routerLink]="['']"
  >
    <i nz-icon nzType="left" nzTheme="outline"></i>
  </div>
  <div class="flow--top">
    <h1 class="flow_header">
      {{ params.flow?.data.section.textInfo.text }}
    </h1>
    <nz-steps [nzCurrent]="params.steps.length - 1"
              nzStatus="{{params.flow?.errorMessage ? 'error' : 'process'}}"
              class="vr-3__mt">
      <nz-step *ngFor="let step of params.steps"
               nzTitle="{{ step.title }}">
      </nz-step>
    </nz-steps>

  </div>

  <div class="flow__body">
<!--    <h3 class="flow_description vr-2__mt">-->
<!--      {{ params.flow.data.section.title }}-->
<!--    </h3>-->
    <ng-container [ngSwitch]="params.flow.data.widget.widgetType">
      <ng-container *ngSwitchCase="flowWidgetTypes.List">
        <button nz-dropdown nz-button nzTrigger="click"
                [nzDropdownMenu]="menu"
                [nzPlacement]="'bottomCenter'"
                [nzSize]="'large'"
                class="flow_dropdown"
        >
          {{ params.selectedDropdownValue || 'Currency' }}
        </button>
        <nz-dropdown-menu
          #menu="nzDropdownMenu">
          <ul nz-menu>
            <li nz-menu-item *ngFor="let option of params.flow.data.widget.widgetBody.text"
                (click)="selectedCurrency$.next(option)"
            >
              {{ option }}
            </li>
          </ul>
        </nz-dropdown-menu>
      </ng-container>
      <ng-container *ngSwitchCase="flowWidgetTypes.FloatNumber">
        <h3>{{params.flow.data.widget.widgetBody.text}}</h3>
        <div class="flow__slider">
          <nz-slider
            class="flow__slider_line"
            [nzMin]="params.flow.data.widget.widgetBody.min"
                     [nzMax]="params.flow.data.widget.widgetBody.max"
                     [(ngModel)]="sliderValue"></nz-slider>
          <nz-input-number class="flow__slider_input"
                           [nzMin]="params.flow.data.widget.widgetBody.min"
                           [nzMax]="params.flow.data.widget.widgetBody.max"
                           [(ngModel)]="sliderValue"
          ></nz-input-number>
        </div>


      </ng-container>
    </ng-container>


  </div>

  <button nz-button class="login-form_button vr-2__mt"
          *init="{
          value: params.flow.data.widget.widgetType | call : getValueByType :
          sliderValue :
          params.selectedDropdownValue
          } as stepParams"
          [nzType]="'primary'"
          [nzSize]="'large'"
          [disabled]="params.flow.data.widget.widgetType === flowWidgetTypes.List ?
          !params.selectedDropdownValue : !sliderValue"
          (click)="nextStepHandler(params.flow, params.steps.length + 1,
          stepParams.value
          , params.flow.status)"
          nzShape="round">
    Далее
  </button>
</div>
