@import "src/assets/styles/vars.scss";

.flow {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  height: 60%;

  padding: 32px;

  &--top {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &_back-btn {
    position: absolute;

    top: 32px;
    left: 32px;

    cursor: pointer;

    ::ng-deep svg {
      width: 32px;
      height: 32px;
    }

    &:hover {
      ::ng-deep svg {
        fill: $main-color;
      }
    }
  }

  &_header {
    width: 100%;

    margin-bottom: 0;

    text-align: center;
  }

  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 60%;
  }

  &_dropdown {
    width: 100%;
  }

  &__slider {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;

    &_line {
      width: 100%;
    }

    &_input {
      width: 20%;
    }
  }

  &__order {
    display: flex;
    flex-direction: column;

    &__step {
      display: flex;
      flex-direction: row;

      &_title {
        margin-bottom: 0;
      }

      &_value {
        margin-bottom: 0;
        margin-left: 8px;
      }
    }
  }
}
