
.account {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  &__login-form {
    max-width: 300px;

    box-shadow: rgba(50, 50, 93, 0.25) 0 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

    &_forgot {
      float: right;
    }

    &_button {
      width: 100%;
    }
  }

  &__info {
    width: 40%;
    height: 60%;

    box-shadow: rgba(50, 50, 93, 0.25) 0 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

    border-radius: 50px;
  }
}
