<div class="account">
  <div class="account_wrapper">
    <router-outlet></router-outlet>
  </div>
<!--  <div class="account__info">-->
<!--    <div class="account__info__radio-group">-->
<!--      <nz-radio-group [(ngModel)]="radioValue" nzButtonStyle="solid">-->
<!--        <label class="account__info__radio-group_button" nz-radio-button nzValue="A">Hangzhou</label>-->
<!--        <label class="account__info__radio-group_button" nz-radio-button nzValue="B">Chengdu</label>-->
<!--      </nz-radio-group>-->
<!--    </div>-->

<!--    <ng-container *ngIf="radioValue === 'A'">-->
<!--      A Content-->
<!--    </ng-container>-->

<!--    <ng-container *ngIf="radioValue === 'B'">-->
<!--      B Content-->
<!--    </ng-container>-->
<!--  </div>-->
</div>
