@import "src/assets/styles/vars.scss";

@keyframes svgClickAnimation {
  0% {
    fill: $main-color;
  }
  100% {
    fill: $black;
  }
}

@keyframes titleClickAnimation {
  0% {
    color: $main-color;
  }
  100% {
    color: $black;
  }
}

.flow-card {
  position: relative;
  height: 164px;

  padding: 24px;

  transition: 0.2s;

  &--clicked {
    ::ng-deep svg {
      animation: svgClickAnimation 0.2s;
    }

    h2 {
      animation: titleClickAnimation 0.2s;
    }
  }

  &_subtitle {
    color: $black-60;
  }

  &_title {
    color: $black;
  }

  &_icon {
    position: absolute;

    bottom: 24px;
    right: 24px;
  }
}
