@import "src/assets/styles/vars.scss";

@keyframes rightToLeft {
  0% {
    right: -72px;
  }
  100% {
    right: 0;
  }
}

@keyframes leftToRight {
  0% {
    left: -72px;
  }
  100% {
    left: 0;
  }
}

.info {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  height: 100%;
  width: 100%;

  &__user {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__name {
    display: flex;
    flex-direction: column;
    align-items: center;

    &_label {
      width: 100%;

      text-align: center;

      color: $black-60;
    }

    &_heading {
      //margin-top: 8px;
      color: $black;
    }
  }

  &__flows {
    width: 100%;

    display: flex;
    flex-direction: row;

    gap: 24px;

    &_card {
      width: 33%;
    }
  }
}
